.sliderItem-imgCategory {
  position: absolute;
  top: calc(50% - 130px / 2);
  left: 7%;
}
.sliderItem-imgCategory img {
  max-height: 100px ;
  padding: 20px;
  border: 3px solid rgb(187, 187, 187);
  border-radius: 50%;

}
