.sliderItem-control {
  display: flex;
  flex-direction: column;
}
.sliderItem-control a {
  color: #000;
  padding: 0px 5px;
  margin: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
}
.sliderItem-control a:hover {
  background-color: rgb(184, 184, 184);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
}

.wrapSliderItem-control {
  display: flex;
  padding: 0px 10px;
  border-left: 1px solid rgb(199, 199, 199);;
}
.sliderItem-title {
  width: 100%;
  text-align: left;
}
