@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=Vidaloka&display=swap');
 
 .display-named {
  display: flex;
  font-size: 30px ;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #03192D;
  max-width: 400px;
  justify-content: space-between;
  /* margin: 0 70px 0 0; */
  
}
.div-display-named {
  margin-bottom: 40px;
}
.display-items-container {
  display: flex;
  flex-direction: row;
}

.display-named-items-container {
  margin: 20px;
}

.display-a {
  text-decoration:none !important;
  color: azure;
}

.img {
  width: auto ;
  height: auto;
}

.display-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
}

.display-search-form {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}

.display-search-form form {
  display: flex;
  flex-flow: row;
}

.display-search-form form * {
  margin: 5px
}
.display-image .img{
margin-left:40px;
}

.display-image {
  display: flex;
  justify-content: center;
  height: auto;
  max-width: 400px;
  border-radius: 10px;
  margin: 20px;
}

.display-ingredient {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  /* margin-left: 20px ; */
  /* display: flex; */
}

.display-item-expired {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  margin-top: 20px;
  color: #03192D;
}

.wrapped-recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-line1 {
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  border-right: solid;
}

.display-items {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin: 30 0 ;
  justify-content: center;
  display: flex;
}

.ingredients {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 30px;

}


