.footer {
  background-color: #0C4D75;
  color: white;
  text-align: center;
  border-radius: 10px 10px 0px 0px;

}

.linkGitFooter {
  font-size: 40px;
  color: aliceblue;
} 

.linkGitFooter:hover {
  color: aliceblue;
}

