.wrap {
  border: 1px solid rgba(0,0,0,.125);
  display: flex;
  margin: 5px;
  border-radius: 30px;
  align-items: center;
  width: 110px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(120,120,120,1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(120,120,120,1);
  box-shadow: 0px 1px 2px 0px rgba(120,120,120,1);
  position: absolute;
  z-index: 1000;
  top: 9.5%;
  right: 1%;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  img {
    height: 30px;
  }
  p {
    margin: 0px 10px;
    font-size: 12px;
  }
}
