@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=Vidaloka&display=swap');

h1 {
  font-weight: 800;
  
}

li {
  list-style: none;
}

.formSend {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

/* PRELOADER */

.preloaderWrap {
  padding: 20px;
}
.preloaderWrap img {
  height: 30px;
}

html, body, .container, .App, #root {
  font-family: 'Josefin Sans', sans-serif;  font-style: normal;
  font-weight: 500;
  color: #03192D !important

}

h1, h2, h3, h4, p, span{
  color: #03192D !important
}

body{
  background-color: #F2EEDD;
  background-image: linear-gradient(to bottom, #7DE2FC 0%, #ffecd2 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

}
/* Fonts size */

p, span {
  font-size: 16px;
}

.container {
  position: relative;
  text-align:center;
}

/* BUTTONS */
.btn-primary .scan-form input{
  background-color: #00a6a6;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-outline-success {
  color: #e08d07f3;
  border-color: #e08d07f3;
}

.btn-img {
  height: 20px;
}

/* NAV BAR */



nav {
  border-radius: 0px 0px 10px 10px;
  background-color: none !important;
  background: #0C4D75 !important;
}

.navbar .nav-nav-bar{
  text-align: center;
  display: flex;
  justify-content: center;
}

/* HOW TO UNCODE NAVLINK ??*/
.navbar a{
  color: white;
  text-decoration: none;
}
.navbar a:hover{
  opacity:.8;
  
}

.navbar a .active{
  opacity:.6;
  font-weight: bold;
}

/* LOGIN REGISTER  */

.formSend{
  margin-top: 50px;
}

/* HOMEPAGE */
.homepage{
  position: relative;
}


 .homepage .topbanner{
   width: 100% !important
 }


 @media (max-width: 800px) {
  .homepage .fact-banner, .homepage .topbanner,.homepage .features-banner, .homepage .ourApp {
  display: hidden;
   }
 }  

.homepage .welcome-banner .parallax-inner{
  width: 100% !important;
  height:200px;
  display: flex;
    flex-flow: column wrap;
    align-items: space-around;
    justify-content: center;
    align-items: center;
    vertical-align: center;    
}

.homepage .what-banner{
  /* position: relative; */
  overflow: hidden;
  width: 100%;
}


.homepage .what-banner .parallax-inner{
  text-align: center;
  align-items: center;
  vertical-align: center;  
}

.homepage .what-banner .img{
  /* border-radius: 15px 15px 15px 15px; */
  object-fit: scale-down;
}

.homepage .fact-banner {    
  line-height: 0;       
   -webkit-column-count: 2;    
   -webkit-column-gap: 0px;    
   -moz-column-count: 2;
   -moz-column-gap: 0px;
    column-count: 2;    
    column-gap: 10px;    
}  
.homepage .fact-banner img {   
  /* border-radius: 10px 10px 10px 10px;  */
  width: 100% !important;    
  height: auto !important;  
  margin: 5px;
  object-fit: scale-down;
} 

.homepage .fact-banner{    
  display:inline-block;    
  margin-right: auto;    
  margin-left: auto;  
}

@media (max-width: 1000px) {
 .homepage .fact-banner {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}  

.ourteam, .homepage .features-banner .title-bar{
  padding: 50px;
  align-items:center;
}


.homepage .ourApp #wrapper{
  perspective: 1300px
}

/*Basic Phone styling*/
.homepage .ourApp .phone {
  border: 40px solid #121212;
  border-width: 55px 7px;
  border-radius: 40px;
  margin: 50px auto;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

.homepage .ourApp .phone iframe {
  border: 0;
  width: 100%;
  height: 100%;
  background-color:#000;
}

/*Different Perspectives*/

/* Table View */
.homepage .ourApp .phone.view_1 {
  width: 360px;
  height: 640px;
  -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(-30deg);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(-30deg);
  box-shadow: -3px 3px 0 #000, -6px 6px 0 #000, -9px 9px 0 #000, -12px 12px 0 #000, -14px 10px 20px #000;
}





.homepage .who-banner .root{
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  margin-bottom: 50vh;
}

.who-banner .divider {
  display: block;
  width: 100%;
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.who-banner .container {
  position: relative;
  width: 100%;
}

.who-banner .boxOutline {
  position: absolute;
  top: 20%;
  right: 7%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.who-banner .boxBg {
  width: 100%;
}

.who-banner .text {
  position: absolute;
  top: 28%;
  left: 0;
  width: 100%;
  text-align: center;
}


.features-block .feature-item, .ourteam .wrap-deck{
  display:flex;
  align-items: center;
}

.teamMember{
  margin: 20px
}

.rounded-circle{
  align-items: center;
  width:  200px;
  height: 200px;
  background-size: cover;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-bottom: 20px;
}

/* FRIDGE PAGE */

.fridge h1{
  margin: 30px;
}

.carousel-caption {
  color: #000 !important;
}

.card-title{
  font-size: 58px;
}

/* SCAN PHOTO */
.scan-image-block{
  background-color: rgba(12, 77, 117, 0.705);
}

.scanform{
  padding: 15px;
}

.scan-results a{
  color: white !important;
  /* font-size: 20px; */
}

/* SHOPPING LIST */
.shadowed-box {
    margin:4rem auto;
    padding:2rem 3rem 3rem;
    max-width:500px;
    color:#FFF;
    box-shadow:-20px -20px 0px 0px rgba(100,100,100,.1);
    border-radius: 10px;
}

.shoppinglist{
  background: #f6a922;
}

.controlBlock_SL * {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.shoppinglist .list-body{
	margin-top:2.6rem;
	list-style:none;
}

.shoppinglist .label {
	position:relative;
	transition:opacity .2s linear;
}
.shoppinglist .complete .label {
  opacity:.6;
  text-decoration: line-through;
  animation: strike 4s linear; 
}
.shoppinglist .complete .label:before {
	content:'';
	position:absolute;
	top:50%;
	left:-.5rem;
	display:block;
	width:0%;
	height:1px;
	background:#FFF;
	
}

.shoppinglist .list-group-item{
	display:flex;
	margin:0 -3rem 4px;
	padding:1.1rem 3rem;
	justify-content:space-between;
	align-items:center;
  background:rgba(255,255,255,0.1);
}

/* SHOPPING FORM */
.shoppinglist form {
	margin-top:3rem;
	display:flex;
	flex-wrap:wrap;
}
.shoppinglist form label {
	min-width:100%;
	margin-bottom:.5rem;
	font-size:1.3rem;
}
.shoppinglist form input {
	flex-grow:1;
	border:none;
	background:#f7f1f1;
	padding:0 1.5em;
	font-size:initial;
}

.authPage {
  display: flex;
  align-items: center;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.red {
  color: red !important;
}

.text-muted  {
  text-transform: uppercase;
}

.fridge {
  margin-bottom: 60px;
}

.App {
  height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}

.btnModal {
  padding: 3px 6px;
}
.btnModal svg {
  font-size: 22px;
  padding: 0px;

}

.btnModal:last-child {
  color: #AB1538;;
}

.btnModal:first-child {
  color: #24c50e;
}

.btn-primary {
  border: 0px;
}

.btn-primary:hover {
  background: #0cc4c4;
  
}

.shoppinglist h2 {
  color: #F2EEDD !important;
}

.logo {
  height: 50px;
}

legend {
  font-weight: 800 !important;
}

.basic-navbar-nav {
  color: #F2EEDD;
}

.modal-header button span:first-child {
  font-size: 36px;
}


/* HOMEPAGE */

.home__banner {
  min-height: 300px;
  width: 100%;
  background: url('./images/vegetables-main.jpg') no-repeat;
  background-size: 120%;
  background-attachment: fixed;
  margin-top: 60px;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(28,28,28,0.76);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(28,28,28,0.76);
  box-shadow: inset 0px 0px 5px 0px rgba(28,28,28,0.76);
}

.features-block, .card-group {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.what-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.feature-item img, .teamMember img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 20px;
}

.feature-item, .teamMember {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 20px;
}


.teamMember {
  max-width: 200px;
}

.teamMemberLinks a svg {
  font-size: 30px;
  margin: 3px;
  color: rgb(102, 11, 114);
}

.teamMemberLinks a:first-child svg {
  color: rgb(38, 144, 231);
}

.teamMemberLinks a:last-child svg {
  color: rgb(240, 199, 20)
}

.frifgy-img-top {
  display: block;
  margin: 0 auto;
  max-width: 767px;
}

.frifgy-wrap-bottom img {
  max-width: 769px;
}


.frifgy-wrap-top-control * {
  position: absolute;
  top: 0px
}

.frifgy-wrap-top-control div input {
  position: absolute;
  width: 400px;
  right: 32%;
  top: 30%;

}

.frifgy-wrap-top-control div {
  position: inherit;
}

.frifgy-wrap-top-control h2 {
  top: 3%;
  right: calc(50% - 150px / 2) ;
}

.frifgy-wrap-top-control button {
  top: 60%;
  right: 25%;
}

.frifgy-wrap-top-control a {
  top: 60%;
  left: 25%;
  font-size: 40px;
  color: #0C4D75;
}

.frifgy-wrap-top {
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
  padding-bottom: 23px;
}

.frifgy-wrap-top-control-mobile {
  display: none;
}





@media screen and (max-width: 1000px) {

  .frifgy-wrap-top, .frifgy-wrap-bottom {
    display: none;
  }
  .carousel {
    -webkit-box-shadow: 0px 3px 4px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 3px 4px 0px rgba(181,181,181,1);
    box-shadow: 0px 3px 4px 0px rgba(181,181,181,1) !important;
    border-radius: 10px;
  }

  .frifgy-wrap-top-control-mobile {
    display: inherit;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  .frifgy-wrap-top-control-mobile a svg {
    font-size: 38px;
    padding: none;
    color: #0C4D75;
  }

  .frifgy-wrap-top-control-mobile div {
    margin:3px
  }
  
 }  
