.change {
  padding: 10px;
  margin: 2px;
  border: 2px #549988 solid;
  border-radius: 3px;
  background-color: white;
  width: 80%;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  color: #549988;
  outline: none;
  height: 80px;
}

.change:hover {
  background-color: #549988;
  transition-duration: 300ms;
  color: white;
}